[submodule "StringTools"]
	path = StringTools
	url = https://gitea.leonetienne.de/leonetienne/StringTools.git
[submodule "Hazelnupp"]
	path = Hazelnupp
	url = https://gitea.leonetienne.de/leonetienne/Hazelnupp.git
[submodule "GeneralUtility"]
	path = GeneralUtility
	url = https://gitea.leonetienne.de/leonetienne/GeneralUtility.git
[submodule "GCryptLib/exec/Eule"]
	path = GCryptLib/exec/Eule
	url = https://gitea.leonetienne.de/leonetienne/Eule.git
[submodule "GCryptLib/exec/BmpPP"]
	path = GCryptLib/exec/BmpPP
	url = https://gitea.leonetienne.de/leonetienne/BmpPP.git
