[submodule "StringTools"]
	path = StringTools
	url = https://code.ze.mawtrixx.net/leonetienne/StringTools.git
[submodule "Hazelnupp"]
	path = Hazelnupp
	url = https://code.ze.mawtrixx.net/leonetienne/Hazelnupp.git
[submodule "GeneralUtility"]
	path = GeneralUtility
	url = https://code.ze.mawtrixx.net/leonetienne/GeneralUtility.git
[submodule "GCryptLib/exec/Eule"]
	path = GCryptLib/exec/Eule
	url = https://code.ze.mawtrixx.net/leonetienne/Eule.git
[submodule "GCryptLib/exec/BmpPP"]
	path = GCryptLib/exec/BmpPP
	url = https://code.ze.mawtrixx.net/leonetienne/BmpPP.git
[submodule "BmpPP"]
	url = https://code.ze.mawtrixx.net/leonetienne/BmpPP.git
