[submodule "StringTools"]
	path = StringTools
	url = git@gitea.leonetienne.de:leonetienne/StringTools.git
[submodule "Hazelnupp"]
	path = Hazelnupp
	url = git@gitea.leonetienne.de:leonetienne/Hazelnupp.git
[submodule "GeneralUtility"]
	path = GeneralUtility
	url = git@gitea.leonetienne.de:leonetienne/GeneralUtility.git
